ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.7
action-tutorials-py==0.20.7
actionlib-msgs==4.9.0
actuator-msgs==0.0.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.17.2
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.11.0
async-timeout==4.0.3
attrs==25.4.0
backoff==2.2.1
banks==2.2.0
bcrypt==5.0.0
bond==4.1.2
build==1.4.0
builtin-interfaces==1.2.2
cartographer-ros-msgs==2.0.9002
certifi==2025.11.12
charset-normalizer==3.4.4
chroma-hnswlib==0.7.3
chromadb==0.4.22
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
composition-interfaces==1.2.2
control-msgs==4.8.0
controller-manager==2.52.2
controller-manager-msgs==2.52.2
cv-bridge==3.2.1
dataclasses-json==0.6.7
demo-nodes-py==0.20.7
Deprecated==1.3.1
diagnostic-msgs==4.9.0
diagnostic-updater==4.0.6
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.8.0
domain-coordinator==0.10.0
durationpy==0.10
dwb-msgs==1.1.20
dynamixel-sdk-custom-interfaces==3.8.1
ecdsa==0.19.1
email-validator==2.3.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
exceptiongroup==1.3.1
fastapi==0.122.0
fastapi-cli==0.0.16
fastapi-cloud-cli==0.5.2
fastar==0.7.0
filelock==3.20.3
filetype==1.2.0
flatbuffers==25.12.19
frozenlist==1.8.0
fsspec==2026.1.0
gazebo-model-attachment-plugin==1.0.3
gazebo-model-attachment-plugin-msgs==1.0.3
gazebo-msgs==3.9.0
gazebo-video-monitor-interfaces==0.8.1
gazebo-video-monitor-utils==0.8.1
generate-parameter-library-py==0.5.0
geographic-msgs==1.0.6
geometry-msgs==4.9.0
google-ai-generativelanguage==0.6.15
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
greenlet==3.2.4
griffe==1.15.0
grpcio==1.76.0
grpcio-status==1.62.3
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.1
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.3.2
humanfriendly==10.0
idna==3.11
image-geometry==3.2.1
importlib_metadata==8.4.0
importlib_resources==6.5.2
interactive-markers==2.3.2
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonpatch==1.33
jsonpointer==3.0.0
kubernetes==35.0.0
langchain==0.3.14
langchain-core==0.3.63
langchain-openai==0.3.0
langchain-text-splitters==0.3.8
langsmith==0.2.11
laser-geometry==2.4.1
launch==1.0.13
launch-ros==0.19.13
launch-testing==1.0.13
launch-testing-ros==0.19.13
launch-xml==1.0.13
launch-yaml==1.0.13
lifecycle-msgs==1.2.2
llama-index-core==0.12.32
llama-parse==0.5.20
logging==0.4.9.6
logging-demo==0.20.7
Mako==1.3.10
map-msgs==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
mavros==2.9.0
mavros-msgs==2.9.0
mdurl==0.1.2
message-filters==4.3.11
mmh3==5.2.0
mpmath==1.3.0
multidict==6.7.0
mypy_extensions==1.1.0
nav-2d-msgs==1.1.20
nav-msgs==4.9.0
nav2-common==1.1.20
nav2-msgs==1.1.20
nav2-simple-commander==1.0.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.2
numpy==1.26.4
oauthlib==3.3.1
onnxruntime==1.23.2
openai==1.109.1
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.11.4
osrf-pycommon==2.1.6
overrides==7.7.0
packaging==24.2
passlib==1.7.4
pcl-msgs==1.0.0
pendulum-msgs==0.20.7
pillow==12.1.0
platformdirs==4.5.1
posthog==7.5.1
propcache==0.4.1
proto-plus==1.27.0
protobuf==4.25.8
psycopg2-binary==2.9.11
pulsar-client==3.9.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.4
pydantic-extra-types==2.10.6
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.1
PyPika==0.50.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.20
python-qt-binding==1.1.3
PyYAML==6.0.3
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.7
rcl-interfaces==1.2.2
rclpy==3.3.19
rcutils==5.1.7
redis==7.1.0
regex==2026.1.15
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resource-retriever==3.1.3
rich==14.2.0
rich-toolkit==0.16.0
rignore==0.7.6
rmw-dds-common==1.6.0
robot-localization==3.5.4
ros-gz-interfaces==0.244.11
ros2action==0.18.15
ros2bag==0.15.15
ros2cli==0.18.15
ros2component==0.18.15
ros2controlcli==2.52.2
ros2doctor==0.18.15
ros2interface==0.18.15
ros2launch==0.19.13
ros2lifecycle==0.18.15
ros2multicast==0.18.15
ros2node==0.18.15
ros2param==0.18.15
ros2pkg==0.18.15
ros2run==0.18.15
ros2service==0.18.15
ros2topic==0.18.15
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-dds-idl==0.8.1
rosidl-generator-py==0.14.6
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.3
rosidl-typesupport-fastrtps-cpp==2.2.3
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9.1
scripts==3.9.0
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentry-sdk==2.46.0
shape-msgs==4.9.0
shellingham==1.5.4
six==1.17.0
slam-toolbox==2.6.10
smclib==4.1.2
sniffio==1.3.1
SQLAlchemy==2.0.44
sros2==0.10.7
starlette==0.50.0
statistics-msgs==1.2.2
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tenacity==9.1.2
tf2-geometry-msgs==0.25.17
tf2-kdl==0.25.17
tf2-msgs==0.25.17
tf2-py==0.25.17
tf2-ros-py==0.25.17
tf2-sensor-msgs==0.25.17
tf2-tools==0.25.17
theora-image-transport==2.5.4
tiktoken==0.12.0
tokenizers==0.22.2
tomli==2.4.0
topic-monitor==0.20.7
tqdm==4.67.1
trajectory-msgs==4.9.0
# Editable install with no version control (turtlebot3-example==2.2.5)
-e /home/raj/turtlebot3_ws/build/turtlebot3_example
turtlebot3-msgs==2.3.0
# Editable install with no version control (turtlebot3-teleop==2.2.5)
-e /home/raj/turtlebot3_ws/build/turtlebot3_teleop
turtlesim==1.4.3
typer==0.20.0
typer-slim==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==5.11.0
unique-identifier-msgs==2.2.1
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.38.0
uvloop==0.22.1
velodyne-msgs==2.5.1
visualization-msgs==4.9.0
watchfiles==1.1.1
websocket-client==1.9.0
websockets==15.0.1
wrapt==1.17.3
xacro==2.1.1
yarl==1.22.0
zipp==3.23.0
